
<%= form_for @lecture, :url => { :action => "create" }, :html => { } do |f| %>
  <div id="title">
    <%= f.label :title, 'What is the title of your lecture?' %>
    <%= f.text_field :title,
          :maxlength => 200,
          :size => 30,
          :class => 'title-input' %>
  </div>

  <%= f.submit 'Continue' %>
<% end %>
