<h2 id="lecture-title">
  <%= @lecture.title%>
</h2>
<h3 id='lecturer-name'><%= link_to @lecture.lecturer.name || 'N/A', user_path(@lecture.lecturer) %></h3>


<iframe width="780" height="585" src="http://www.youtube-nocookie.com/embed/KkMDCCdjyW8" frameborder="0" allowfullscreen></iframe>

<iframe src="http://www.slideshare.net/slideshow/embed_code/31514" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/vidyasri1953/functional-areas-of-our-brain" title="Functional Areas of Our Brain" target="_blank">Functional Areas of Our Brain</a> </strong> from <strong><a href="http://www.slideshare.net/vidyasri1953" target="_blank">vidyasri1953</a></strong> </div>
<div class='resources-panel'>
<iframe width="388" height="291" src="http://www.youtube-nocookie.com/embed/KkMDCCdjyW8" frameborder="0" allowfullscreen></iframe>
</div>


<div class='resources-panel'>
  <h3>Attendees</h3>
  <ul>
    <li>Vincent Martínez</li>
    <li>John Mildinhall</li>
    <li>George Ornbo</li>
  </ul>
</div>

<div class='resources-panel'>

</div>

<h3>Location</h3>




<h3>Documents</h3>
<div>
  <a href="http://www.stanford.edu/class/cs193p/cgi-bin/drupal/system/files/lectures/05_Views.pdf">05_Views.pdf<a>
</div>
