<h2 id="lecture-title">
  <%= @lecture.title%>
</h2>
<h3 id='lecturer-name'><%= @lecture.lecturer.name || 'N/A' %></h3>

<h3>Location</h3>
<iframe width="400" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=stanford+university&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.562171,1.196136&amp;ie=UTF8&amp;hq=stanford+university&amp;t=m&amp;ll=37.428252,-122.17123&amp;spn=0.013632,0.034418&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=stanford+university&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.562171,1.196136&amp;ie=UTF8&amp;hq=stanford+university&amp;t=m&amp;ll=37.428252,-122.17123&amp;spn=0.013632,0.034418&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<h3>Attendees</h3>
<ul>
  <li>Vincent Martínez</li>
  <li>John Mildinhall</li>
  <li>George Ornbo</li>
</ul>

<h3>Video</h3>
<iframe width="200" height="113" src="http://www.youtube.com/embed/79e1Ir5T1uw" frameborder="0" allowfullscreen></iframe>

<h3>Documents</h3>
<a href="http://www.stanford.edu/class/cs193p/cgi-bin/drupal/system/files/lectures/05_Views.pdf">05_Views.pdf<a>

<div class='resources-panel'>

</div>
