

<div id="search">
  <form action="/kifa/search" method="post" accept-charset="utf-8">
    <p>search courses, topics, universities, lectures, lecturers</p>
    <input type="text" value="" />
    <ul id='faux-results'>
      <li>
        <a href="/lectures/<%=  Lecture.order('RANDOM()').first.try(:id) %>">
        <span class='result-type'>Courses</span>
        <div class='results'>
          <span class='result-lecture'>Jane Austen 101</span>
          <span class='result-name'>Jane Austen: Pride Prejudice and Zombies</span>
        </div>
        </a>
      </li>
      <li>
        <a href="/lectures/<%=  Lecture.order('RANDOM()').first.try(:id) %>">
        <span class='result-type'>Universities</span>
        <div class='results'>
          <span class='result-name'>University of Janesz</span>
        </div>
        </a>
      </li>
      <li>
        <a href="/lectures/<%=  Lecture.order('RANDOM()').first.try(:id) %>">
        <span class='result-type'>Lecturers</span>
        <div class='results'>
          <span class='result-lecture'>Jane Smith</span>
          <span class='result-name'>Janee Green</span>
        </div>
        </a>
      </li>
    </ul>
  </form>
</div>

<div id='add-lecture-button'>
  <a href="/lectures/new" class='button'>Add lecture</a>
</div>
