

<div id="search">
  <form action="/kifa/search" method="post" accept-charset="utf-8">
    <p>search courses, topics, universities, lectures, lecturers</p>
    <input type="text" value="" />
    <p><input type="submit" value="Continue &rarr;" /></p>
  </form>
</div>