
<% if @users.any? %>
<ul class="stripe">
<% @users.each do |user| %>
<li class="lecture-title">
  <%= image_tag(current_user.avatar) %>
  <a href="<%= user_url(user) %>"><%= user.name %>
</li>
<% end %>
</ul>
<% end %>
