development:
  adapter: postgresql
  encoding: unicode
  database: kifa_development
  pool: 5
  username: george
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: kifa_test
  pool: 5
  username: george
  password:
