// Place all the styles related to the knowledge_map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#lecture-title {
  margin-bottom: 0
}

#lecturer-name {
  color: #aaa;
  font-size: 100%;
  margin: 0;
}