body{

  font-family: 'Futura', sans-serif;
  font-size: 16px;
}

#wrapper{
  border: 1px solid black;
  width: 800px;
  margin: auto;
  position: relative;
  padding: 10px;
  min-height: 600px;
  #logo{
    margin: 0
  }

  #auth {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul.stripe  {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    li:nth-child(odd) {
      clear: left;
      padding: 10px;
      border-bottom: 1px dotted #ccc;
    }
  }

  #search {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    form {
      input[type=text] {
        border: 1px solid #aaa;
        padding: 10px;
        font-size: 20pt;
        outline: none;
        width: 500px;
      }
    }
  }
}

#add-lecture-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: right;

  a.button {
    background: blue;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
  }
}


#faux-results {
  a{ color: #888; text-decoration: none; }
  display: none;
  width: 520px;
  margin: auto;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0px;
  margin-top: -3px;
  font-size: 80%;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  li {
    &:hover {
      background: #f8f8f8;
    }
    padding: 5px;
    color: #888;
    cursor: pointer;
    text-align: left;
    margin: 0;
    .result-type { color: blue; }
    .results, .result-name { display: block;}
  }
}


.resources-panel{
  display: inline-block;
}
.lecture-container {
  width: 100%;
  margin-top: 30px;
  float: left;
  margin-bottom: 10px;
  .lecture-left {
    width: 47%;
    padding: 1%;
    height: 300px;
    border: 1px solid black;
    float: left;
    &:hover {
      cursor: pointer;
      background: gray
    }
  }
  .lecture-right {
    width: 47%;
    padding: 1%;
    float: right;
    height: 300px;
    border: 1px solid black;
    &:hover {
      cursor: pointer;
      background: gray
    }
  }
}
p.action {
  color: #ccc;
}
